@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Open+Sans:300,400,600,700,800');

* {
	font-family: 'Lato';
}

body {
    padding: 0px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    outline: none;
}

a {
    text-decoration: none;
}

.xur-wrapper {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	height: inherit;
}

/* Banner */
.xur-banner {
	width: 100vw;
	height: calc(80vh - 60px);
	background: url(../../media/image/xur.png), rgba(0,0,0,0.50);
	background-size: cover;
	background-position: center center;
}

.xur-banner-title-item {
	font-size: 200px;
    font-family: Open Sans;
    font-weight: 900;
    letter-spacing: -22px;
    text-transform: capitalize;
    color: #fff;
}

/* Timer */
.xur-timer {
	/*position: fixed;*/
	width: 100%;
	height: 60px;
	/*top: calc(75% - 30px);*/
	bottom: 0px;
	left: 0px;
	background: #1f232e;
	color: #fff;
}

.xur-timer-message {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.xur-timer-value {
	font-weight: 600;
}

.xur-timer-title {
	font-weight: 300;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 5px;
}

.xur-timer-item {
	width: 25%;
	text-align: center;
}

.xur-locations {
	justify-content: flex-start;
	width: 1200px;
	max-width: 95%;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.xur-location {
	width: calc(33.3% - 10px);
	margin: 5px;
}

.xur-location-block {
	min-height: 240px;
	background: #f6f6f7;
	text-align: center;
}

/* AdBlock */
.adblock .xur-detect {
    width: 100vw;
    height: 100vh;
}

.xur-detect-title {
	text-align: center;
	font-size: 30px;
}

.notblocked {
	display: block;
}
.blocked {
	display: none;
}
.adblock .notblocked {
	display: none;
}
.adblock .blocked {
	display: block;
}